.year-box {
    margin-bottom: 20px;
    border: 10px solid white; /* Add border and set color to white */
    padding: 10px; /* Add padding for better spacing */
  }
  
  .year {
    color: blue; /* Example color */
  }
  
  .song-list {
    list-style: none;
    padding: 0;
  }
  
  .song-list li {
    margin-bottom: 5px;
    font-size: 14px; /* Adjust font size as needed */
  }
  